.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #013f62;
  color: #dad7d7;
  font-family: Arial, sans-serif;
  align-items: center;
  top: 0;
  left: 0;
  position: sticky;
  z-index: 1000;

  .brand_name {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }

  .tabs {
    display: flex;

    .tab {
      margin-left: 20px;
      cursor: pointer;
      transition: background-color 0.3s;

      &.active,
      &:hover {
        padding-bottom: 1px;
        border-bottom: 2px solid #dad7d7;
      }
    }
  }

  .menu_icon {
    display: none;
    padding: 0px;
  }


  /* Hide tabs on mobile view */
  @media (max-width: 600px) {
    justify-content: flex-start;
    gap: 10px;

    .brand_name {
      font-size: 18px;
    }

    .tabs {
      display: none;
    }

    .menu_icon {
      display: flex;
      align-items: center;
    }
  }

}



:global(.MuiDrawer-paper) {
  background-color: #882e14 !important;
  color: #dad7d7;
  width: fit-content;
  padding-top: 0px;

  :global(.MuiListItem-root) {
    color: #dad7d7;
    cursor: pointer;
    padding: 0px;
    margin: 16px;
    width: fit-content;
  }
}